<h1>Data Operations</h1>
<div class="example-button-row">
 <button mat-button color="accent" ><a routerLink="remove subset users" routerLinkActive="active">remove subset users</a></button>
<br>
<button mat-button color="accent"><a routerLink="remove duplicated users" routerLinkActive="active"> remove duplicated users</a></button>
<br>
<button mat-button color="accent"><a routerLink="grouping  data" routerLinkActive="active"> grouping  data</a></button>
<br>
<button mat-button color="accent"><a routerLink="roles" routerLinkActive="active"> Roles</a></button>
</div>