<br>
<h1>roles </h1>
<button ><a routerLink="/" routerLinkActive="active">back</a></button>
<br>
<div>
  <form  [formGroup]="dynamicForm">
  <mat-form-field appearance="fill" >
      <mat-label>select role</mat-label>
      <mat-select  formControlName="role" class="form-control" (selectionChange)="onChange($event)">
        <mat-option *ngFor="let rol of receivedRoles" [value]="rol"  >
          {{rol.roleDescEn}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" >
      <mat-label>select role</mat-label>
      <mat-select  formControlName="role" class="form-control" (selectionChange)="onChange($event)">
        <mat-option  *ngFor="let item of childes" [value]="item"  >
          {{item.roleDescEn}}
        </mat-option>
      </mat-select>
    </mat-form-field>
 </form>
</div  >
